# Build outputs
dist-fabric/
dist-neoforge/
build-logs/
crashreports/
**/run/
**/build/
**/.gradle/
**/.gradle_user*/
.gradle/
.tmp/
**/.cache/
v1.21+/
v1.21.2+/
HammerMining-fabric-v1.20-v1.20.4/
HammerMining-fabric-v1.20.5-v1.20.6/

# IDE/Editors
.idea/
.vscode/
*.iml
*.ipr
*.iws

# OS junk
.DS_Store
Thumbs.db

# Logs and archives
*.log
*.log.gz
*.tmp
*.swp
*.zip
*.tar.gz
